img {
  max-width: 100%;
  height: 85%;
}

button {
  text-align: center;
}

.titulo {
  text-align: center;
}

.gridalto {
  height: 90vh;
}

.texto {
  /* font-size: 14px; */
}

.saludo {
  /* height: 50% */
}

.carousel-fade {
    .carousel-inner {
        .carousel-item {
            /* transition-property: opacity; */
        }

        /* .carousel-item,
        .active.left,
        .active.right {
            opacity: 0;
        } */

        /* .active,
        .carousel-fade,
        .next.left,
        .prev.right {
            opacity: 1;
        } */

        /* .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        } */
    }

    /* .carousel-control {
        z-index: 2;
    } */
}

/* .carousel-fade {
    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
        }

        .carousel-item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
} */
