.contenedor{
    overflow: scroll;
    height: 35em;
    padding: 0px;
}

.altodelgrid{
    height: 35em;
}

.boton-vineta{
  background-color: white !important;
  border: none !important;
}

.imagen{
  height: 50px;
}

.contador{
  margin-right: 5px;
}

.contador-nombre{
  display: inline-flex;
}

.nombre-trago{
 text-align: left;
}

.espacio{
  display: inline-block;
  width: 8px;
}

.vineta {
  margin-top: 0px;
}

.separadores {
  margin-top: 15px;
  margin-bottom: 0px;
}
