.contenedor{
    overflow: scroll;
    height: 35em;
    padding: 0px;
}

.altodelgrid{
    height: 35em;
}

.imagen{
  height: 50px;
}

.contador{
  margin-right: 5px;
}

.espacio{
  display: inline-block;
  width: 8px;
}

.vineta {
  margin-top: 0px;
}

.separadores {
  margin-top: 15px;
  margin-bottom: 0px;
}
