.contenedor{
    overflow: scroll;
    height: 35em;
    padding: 0px;
}

.altodelgrid{
    height: 60vh;
}

.boton{
  width: 90%;
  height: 90%;
}

.imagen{
  height: 60px;
}

.contadorBoton{
  /* margin-right: 5px; */
  font-weight: bold;
  font-size: 2em;
  margin-top: 2px;
  margin-right: 5px;
  /* vertical-align: top; */
}

.contador-nombre{
  display: inline-flex;
}

.nombre-trago{
 text-align: left;
 white-space: normal;
}

.espacio{
  display: inline-block;
  width: 8px;
}

.vineta {
  margin-top: 0px;
}

.separadores {
  margin-top: 15px;
  margin-bottom: 0px;
}
