<!-- <mat-card class="contenedor"> -->

  <mat-grid-list cols="4" rowHeight="fit" class="altodelgrid">

    <mat-grid-tile colspan="4">
                <p class="mat-h2 separadores">Vino</p>
                <div *ngIf="ok"><h1 class="mat-h1">Hola!</h1></div>
              </mat-grid-tile>
        <mat-grid-tile
            *ngFor="let dato of datos | slice:0:4"
            colspan="1"
            rowspan="3"
            class="vineta">
            <button type="button" (click)="anima(dato)">
              <img class ="imagen" src="{{dato.imagen}}">
              <p class="mat-h3">  {{dato.nombre}}</p>
            </button>
        </mat-grid-tile>


    <mat-grid-tile colspan="4">
                    <p class="mat-h2 separadores">Cerveza</p>  </mat-grid-tile>
        <mat-grid-tile
                *ngFor="let dato of datos | slice:4:8"
                colspan="1"
                rowspan="3"
                class="vineta">
              <button type="button" (click)="anima(dato)">
                <img class ="imagen" src="{{dato.imagen}}">
                <p class="mat-h3">  {{dato.nombre}}</p>
                </button>
          </mat-grid-tile>

    <mat-grid-tile colspan="4">
                          <p class="mat-h2 separadores">Licor</p>  </mat-grid-tile>
          <mat-grid-tile
                      *ngFor="let dato of datos | slice:8:12"
                      colspan="1"
                      rowspan="3"
                      class="vineta">
                <button type="button" (click)="anima(dato)">
                  <img class ="imagen" src="{{dato.imagen}}">
                  <p class="mat-h3">  {{dato.nombre}}</p>
                  </button>
          </mat-grid-tile>

</mat-grid-list>

<!-- </mat-card> -->
