<h3 class="mat-display-1">Por favor revise su respuesta:</h3>
<h2 class="mat-headline">Seleccione la cantidad de tragos que usted suele consumir en las ocasiones en que bebe alcohol.</h2>
<h2 class="mat-headline">Si usted no ha consumido alcohol durante el último año, vuelva a la pregunta 1 y seleccione 'nunca'.</h2>

<br>
<mat-dialog-actions>
  <!-- <button mat-button [mat-dialog-close]="respuesta">Volver</button> -->
  <button mat-stroked-button class="boton" color="primary" [mat-dialog-close]>Ok</button>
  <!-- <button mat-stroked-button color="primary"  [mat-dialog-close]="cerotragos">Correcto</button> -->
</mat-dialog-actions>
