
<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>  <h1>Antes de comenzar</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="opciones">
      <mat-form-field>
        <mat-label style="font-size: 2em;">Edad</mat-label>
        <input style="font-size: 2em;"
             class="mat-h1" matInput type="number"  formControlName="edad">
      </mat-form-field>
      <h2 class="alerta" *ngIf="edad.invalid && !edad.pristine">Debes ser mayor de 15 años para responder esta encuesta, gracias.</h2>

      <mat-form-field>
          <mat-label style="font-size: 2em;">Sexo</mat-label>
        <mat-select formControlName="sexo">
          <mat-option style="font-size: 2em;" value="femenino">Femenino</mat-option>
          <mat-option style="font-size: 2em;" value="masculino">Masculino</mat-option>

        </mat-select>
      </mat-form-field>
      <button mat-button color="primary" type="submit" [disabled]="!opciones.valid" (click)="enviar()" routerLink="/vista/mide">
              <h1>Enviar</h1></button>

    </form>

    <br>


  </mat-card-content>
</mat-card>
