.gridalto {
  height: 100vh;
}

.flechaIzq{
  display: inline-block;
  position: absolute;
  left: 25px;
}

.flechaDer{
  display: inline-block;
  position: absolute;
  right: 45px;
}

.flecha{
  font-size: 3em;
}

.contenedor_pregunta{
  width: 85%;
  height: 90%;
}
