<mat-card color="primary">
    <mat-grid-list cols="1" rowHeight="fit" class="gridalto">

    <mat-grid-tile rowspan="1" matColor>
      <div class="flechaIzq">
        <mat-icon class="flecha" color="primary">arrow_back</mat-icon>
      </div>
      <div class="flechaDer">
        <mat-icon class="flecha" color="primary">arrow_forward</mat-icon>
      </div>

    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
    </mat-grid-tile>

    <mat-grid-tile rowspan="7">
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">

    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
