.gridalto {
  height: 100vh;
}

.contenedor_pregunta{
  width: 85%;
  height: 90%;
  align-items: center;
}

.flechaIzq{
  display: inline-block;
  position: absolute;
  left: 25px;
}

.flechaDer{
  display: inline-block;
  position: absolute;
  right: 45px;
}

.boton-flecha{
  background-color: none;
}

.flecha{
  font-size: 3em;
  color: inherit;
}

.p-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.siguiente-button-cont{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
