<mat-card color="primary">
    <mat-grid-list cols="1" rowHeight="fit" class="gridalto">

<!-- Flechas -->
    <mat-grid-tile rowspan="1">
      <div class="flechaIzq">
        <mat-icon class="flecha" color="primary">arrow_back</mat-icon>
      </div>
      <div class="">
        <p class="mat-h3">Pregunta 1 de 10</p>
      </div>
      <div class="flechaDer">
        <mat-icon class="flecha" color="primary">arrow_forward</mat-icon>
      </div>
    </mat-grid-tile>

<!-- Encabezado Preguntas -->
    <mat-grid-tile rowspan="2" >
      <mat-card color="primary" class="contenedor_pregunta">
        <mat-card-title>
          <app-pregunta></app-pregunta>
          </mat-card-title>
        </mat-card>

    </mat-grid-tile>

<!-- Desarrollo Preguntas -->
    <mat-grid-tile rowspan="7">
      <mat-card color="primary" class="contenedor_pregunta">
        <mat-card-content>
            <app-respuestas>/</app-respuestas>
          </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
      <div class="">

      </div>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
