<form [formGroup]="respuestaForm" *ngIf="respuestas| async as r">
  <mat-label class="mat-h1">{{r.texto}}</mat-label>
<br>
  <br>
<mat-radio-group class="p-radio-group" formControlName="item" >
  <mat-radio-button class="mat-h1" [value]="r.p1">{{r.a1}}</mat-radio-button>
  <mat-radio-button class="mat-h1" [value]="r.p2">{{r.a2}}</mat-radio-button>
  <mat-radio-button class="mat-h1"  [value]="r.p3">{{r.a3}}</mat-radio-button>
  <mat-radio-button class="mat-h1" *ngIf="r.a4" [value]="r.p4">{{r.a4}}</mat-radio-button>
  <mat-radio-button class="mat-h1" *ngIf="r.a5" [value]="r.p5">{{r.a5}}</mat-radio-button>
</mat-radio-group>
<div class="siguiente-button-cont"><button  mat-raised-button color="accent" type="button" [disabled]="item.invalid" (click)="enviar()">Siguiente</button></div>
</form>
