
  <mat-card>
    <mat-card-title> Qué es un trago </mat-card-title>
    <mat-grid-list cols="2" class="tragos-lista-grid"  >
      <mat-grid-tile *ngFor="let trago of tragos" [colspan]="1">
        <mat-card class="tragos-lista-card">
          <mat-card-footer> {{trago.nombre}} </mat-card-footer>
            <mat-card-content class="mat-card-texto">
                <img class="trago-lista-imagen" src= "{{trago.img}}" >
              = {{trago.eq}}
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

    <!-- <mat-card>
      <mat-card-title> Qué es un trago </mat-card-title>
      <mat-grid-list cols="3" class="tragos-lista-grid" rowHeight="3em" >
        <mat-grid-tile *ngFor="let trago of tragos" [colspan]="3">
          <mat-card class="tragos-lista-card">
              <mat-card-content>
                  <img class="trago-lista-imagen" src= "{{trago.img}}" >
                {{trago.nombre}} = {{trago.eq}}
              </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card> -->
