<h3 class="mat-display-1">Por favor revise su respuesta:</h3>
<h2 class="mat-headline">En la pregunta anterior usted puso que consumía 5 o más tragos en una ocasión típica</h2>
<h2 class="mat-headline">Cambie la respuesta de esta pregunta, o vuelva a la pregunta anterior para cambiarla</h2>

<br>
<mat-dialog-actions>
  <!-- <button mat-button [mat-dialog-close]="respuesta">Volver</button> -->
  <button mat-stroked-button color="primary" [mat-dialog-close]>Ok</button>
  <!-- <button mat-stroked-button color="primary"  [mat-dialog-close]="cerotragos">Correcto</button> -->
</mat-dialog-actions>
