.p-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.siguiente-button{
  margin: 20px;
}

.stepper {
  margin: -20px;
  margin-left: 0px;
}

.mat-stepper{
  padding: -10px;
}

.stepper{
  margin-left: -10px;
}
